<p id="notice"><%= notice %></p>

<p>
  <strong>Size:</strong>
  <%= @house.size %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @house.owner %>
</p>

<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>
