<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @news.titulo %>
</p>

<p>
  <strong>Content:</strong>
  <%= @news.content %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
